<app-sidebar></app-sidebar>
  <!-- <h1> About DETAILS</h1> -->

<div>
    <img src="assets/13.jpg">
    </div>

    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">



<div class="jumbotron text-center">
  <h2>SKYCLIFF IT DHARWAD</h2>
  <p>Delivering Innovation Across Industries</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>HEALTHCARE</h3>
      <p>YourDrs combines modern technology with 30 years of medical and surgical practice management experience to create a unique platform which brings patients, providersproviders, case managers, attorneys, insurance carriers...</p>
    </div>
    <div class="col-sm-4">
      <h3>TRAVEL & HOSPITALITY</h3>
      <p>Hospitality companies are constantly re-assessing their business strategies to enable positive customer experiences. Skycliff IT's innovative solutions will improve customer retention rates and drive business revenues</p>
    </div>
    <div class="col-sm-4">
      <h3>RETAIL & E-COMMERCE</h3>
      <p>Today's retail environment offers ever-expanding opportunity while also posing unprecedented challenges. Our solutions helps businesses in handling complexity in retail from POS--Back office--Warehouse and Corporate office</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>INSURANCE</h3>
      <p>With our extensive experience in Insurance segment, we get our hands dirty with the blend of technology & well defined processes, so you can focus on your business’s frontline issues</p>
    </div>
    <div class="col-sm-4">
      <h3>BUSINESS PROCESS MANAGEMENT</h3>
      <p>As a management discipline, BPM, helps companies optimize operational processes. We identify critical Key Performance Indicators (KPIs) in the end to end process...</p>
    </div>
    <div class="col-sm-4">
      <h3>PLATFORMS & SOFTWARE PRODUCTS</h3>
      <p>consistent on-time delivery and proven results built on over a decade of domain knowledge and diverse technology expertise in the IT outsourcing industry.</p>
    </div>
  </div>
</div>


<div class="container-fluid">
    <div class="row">
      <div class="col" style="background-color:lavender;">
          <h1>YOURDRS: A unified approach to practice management excellence</h1>
          <h4>YourDrs combines modern technology with 30 years of medical and surgical practice management experience to create a unique platform which brings patients, providers, case managers, attorneys, insurance carriers, and any other authorized representatives under ONE roof to provide the best, most comprehensive care to patients.</h4>
      </div>
      <div class="col" style="background-color:lavender;">
          <img src="assets/33.png">
        </div>
    </div>
  </div>

<div class="container-fluid">
  <h3 style="text-align: center;">Customer First Approach with a Systemic view and Holistic approach makes us a,</h3>
  <h2 style="text-align: center;">value-based, vision driven, mission-focused organization.</h2>
  <div class="row">
    <div class="col" style="background-color:lavender;">
      <img src="assets/3.png">
    </div>
  </div>
</div>





<div class="container-fluid text-center bg-grey">
    <h2>SkyCliff IT</h2><br>
    <h4>Various Cities We Are Located </h4>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/1a.jpg" alt="Paris" width="400" height="300">
          <p><strong>America</strong></p>
          <p>Yes, we built America</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/1b.jpg" alt="New York" width="400" height="300">
          <p><strong>Banglore</strong></p>
          <p>Yes, We built Banglore</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/1c.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>Dharwad</strong></p>
          <p>Yes, we built Dharwad</p>
        </div>
      </div>
    </div>
  </div>


<!-- Footer -->


<footer class="page-footer font-small blue pt-4">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-center text-left"> <img src="assets/logo.png" alt=""> </div>
                <div class="col-md-6 footer-left text-left text-center">
                    © 2018 All Rights Reserved for Skycliff IT PVT. LTD
                </div>
                <i class="fa fa-facebook text-xs circle"></i>
            </div>
        </div>
    </div>
  </footer>

<!-- Footer -->
