/* img {
  width:1900px;
  height: 500px;
} */
img {
  inline-size: -webkit-fill-available;
}

footer.page-footer.font-small.blue.pt-4 {
  background-color: rgb(34, 34, 105);
  color: rgb(248, 240, 240);
}
