footer.page-footer.font-small.blue.pt-4 {
  background-color: rgb(34, 34, 105);
  color: rgb(248, 240, 240);
  position: inherit;
  /* margin-top: 490px; */
}
img {
  inline-size: -webkit-fill-available;
  width: 100%;

}
/* .container-fluid.text-center.bg-grey {
  background-color: white;
} */
