<app-sidebar></app-sidebar>


<!DOCTYPE HTML>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width;intial-scale=1;">
</head>
<body>

<img src="http://bestanimations.com/Holidays/Fireworks/fireworks-animation-51.gif">

    <input type="color" value="#00ff00">
    <marquee style="z-index:2;position:absolute;left:33px;top:15px;font-family:Cursive;font-size:50pt;color:gold;height:250px;"scrollamount="15" direction="right"><b><i>💖HAPPY DIWALI FROM SkyCliff IT💖</i></b></marquee>

<style>
html,body{
    position: relative;
}
     img {
        width: 100%;
        height: 100%;
         object-fit:cover;
         margin: 0;

    }
    input{
        padding: 0;
        border: none;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        mix-blend-mode: hue;
        left: 1px;
        top: 2px;
    }
     html, body { height: 100%; }
     body { margin: 0; }

</style>

</body>
</html>
