img {
  inline-size: -webkit-fill-available;
}
footer.page-footer.font-small.blue.pt-4 {
  background-color: rgb(34, 34, 105);
  color: rgb(248, 240, 240);
  position: inherit;
}
.container-fluid.text-center.bg-grey {
  background-color: white;
}
.container-fluid.text-center.bg-grey {
  background-color: white;
}
