.vertical-navbar {
  height: 932px;
  background-color: #d3d3d333;
  width: 119%;
  float: left;
  }
  mat-toolbar.mat-toolbar.mat-accent.mat-toolbar-single-row {
    background-color: bisque;
}
h2 {
  text-align: center;

}
.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  padding-right: 750px;
}
button {
  margin-right: 250PX;
}
h1 {
  color: black;
}
.ng-tns-c3-1.ng-trigger.ng-trigger-panelState.ui-sidebar.ui-widget.ui-widget-content.ui-shadow.ui-sidebar-active.ui-sidebar-left {
  background-color: tomato;
}
mat-toolbar.mat-toolbar.mat-green.mat-toolbar-single-row {
  position: fixed;
  background-color: rgb(28, 29, 24);
  color: rgb(243, 174, 45);
  z-index: 2000;
  margin-top: 0px;
}
h3 {
  /* float: left; */
  margin-left: 455px;
  color: blanchedalmond;
}
