<app-sidebar></app-sidebar>
<h1>TreeTable</h1>




<p-toast [style]="{marginTop: '80px'}"></p-toast>

<!-- Context Menu Start -->

<!-- <p-treeTable [value]="files" [columns]="cols" dataKey="name" [(contextMenuSelection)]="selectedNode" [contextMenu]="cm">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr [ttContextMenuRow]="rowNode">
            <td *ngFor="let col of columns; let i = index">
                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-treeTable> -->

<!-- Context Menu End -->


<!-- Edit Menu Start -->

<!-- <p-treeTable [value]="files" [columns]="cols">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
      <tr>
          <td *ngFor="let col of columns; let i = index" ttEditableColumn [ngClass]="{'ui-toggler-column': i === 0}">
              <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
              <p-treeTableCellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData[col.field]" [ngStyle]="{'width': i == 0 ? '90%': '100%'}">
                  </ng-template>
                  <ng-template pTemplate="output">{{rowData[col.field]}}</ng-template>
              </p-treeTableCellEditor>
          </td>
      </tr>
  </ng-template>
</p-treeTable> -->

<!-- Edit Menu End -->


<!-- <h3>Template</h3>
<p-multiSelect [options]="cars" [(ngModel)]="selectedCars2" [panelStyle]="{minWidth:'12em'}">
    <ng-template let-value pTemplate="selectedItems">
        <div *ngFor="let val of value" class="ui-multiselected-item-token ui-corner-all">
            <img src="assets/showcase/images/demo/car/{{val}}.png" style="width:20px;vertical-align:middle;margin-right:.5em" />
            <span>{{val}}</span>
        </div>
        <span *ngIf="!value || value.length === 0" class="ui-multiselected-empty-token ui-corner-all">Choose</span>
    </ng-template>
    <ng-template let-car pTemplate="item">
        <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="width:24px;display:inline-block;vertical-align:middle"/>
        <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
    </ng-template>
</p-multiSelect>
<p>Selected Cars: {{selectedCars2}}</p> -->

<!-- Context Menu With Filter Start -->




<p-treeTable #tt [value]="files" [columns]="selectedColumns" dataKey="name" [(contextMenuSelection)]="selectedNode" [contextMenu]="cm">
  <ng-template pTemplate="caption">
      <div style="text-align: right">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>

      <div style="text-align: left">
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
        selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
        </div>


  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
      <tr>
          <th *ngFor="let col of columns">
              <input pInputText type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
      <tr [ttContextMenuRow]="rowNode">
          <td *ngFor="let col of columns; let i = index" ttEditableColumn [ngClass]="{'ui-toggler-column': i === 0}">
              <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
              <p-treeTableCellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="rowData[col.field]" [ngStyle]="{'width': i == 0 ? '90%': '100%'}">
                </ng-template>
                <ng-template pTemplate="output">{{rowData[col.field]}}</ng-template>
            </p-treeTableCellEditor>
              <!-- {{rowData[col.field]}} -->
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
      <tr>
          <td [attr.colspan]="cols.length">No data found.</td>
      </tr>
  </ng-template>
</p-treeTable>

<p-contextMenu #cm [model]="items"></p-contextMenu>

<!-- Context Menu With Filter End -->





<p-dialog header="Add Article" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
        [maximizable]="true" [baseZIndex]="10000">
        <form [formGroup]="AddForm" class="container" (ngSubmit)="OnAddArticleSave(AddForm.value)">

          <div class="container">
            <div class="row">
              <div class="col">
                <label><b>Name</b></label>
                <input formControlName="name" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <label><b>size</b></label>
                <input formControlName="size" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <label><b>type</b></label>
                <input formControlName="type" type="text" class="form-control">
              </div>
            </div>
          </div>
          <br>
        <p-footer>
            <button type="submit" class="btn btn-primary" pButton icon="pi pi-check" label="Yes">Add</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" pButton icon="pi pi-close" (click)="display=false" label="No">Close</button>
        </p-footer>
        <br>
        </form>
</p-dialog>
